# ==========================================
# Variables de Entorno - Mini E-commerce
# ==========================================

# Clave secreta para generación y validación de tokens JWT
JWT_SECRET_KEY=tu_clave_secreta_jwt_aqui_generada_con_openssl_rand_hex_32

# Stripe (Modo Test)
STRIPE_SECRET_KEY=sk_test_tu_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_tu_stripe_webhook_secret
